* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

header {
  font-size: 0.7em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

header a{
  font-size: 1em;
}

.header__main {
  padding: 1em 0;
}

a {
  text-decoration: none;
  color: #000;
}

.links-main a:not(:last-child) {
  margin-right: 2.3em;
}

.link-letter {
  margin-right: 0.8em;
}

.header__link-contacts {
  margin-right: 2.3em;
}

.header__links {
  background-color: #f5f5f5;
  padding: 0.8em 0;
}

.n {
  /* !!!!!!!!!!!!!!!!!!!!!! */
  display: none;
}

.links__case-first a {
  margin-right: 2.3em;
}

.links__case-second {
  padding: 0.5em 2.5em;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.links__case-second a:first-child {
  margin-right: 2.3em;
}

.links__case-third a {
  margin-left: 2em;
}

.tree {
  height: 40px;
  padding: 0.8em 0;
}

.hero {
  background-color: #f5f5f5;
  margin-bottom: 4em;
}

.hero__text {
  padding: 50px;
  width: 50%;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.hero__text p {
  font-size: 0.7em;
  margin-bottom: 3em;
}

.button {
  padding: 10px 23px;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: 600;
}

.button-attention {
  background-color: #fe3501;
  color: white;
  margin-right: 1.3em;
}

.button-common {
  color: #fe3501;
}

.button-common:hover {
  background-color: #e9e9e9;
}

.catalog {
  flex-wrap: wrap;
}

.catalog__item {
  width: 24%;
  max-height: 325px;
  margin-bottom: 5em;
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
  transform: scale(1);
  transition-duration: 0.1s;
}

.catalog__item img {
  max-width: 100%;
}

.catalog__item p {
  padding: 15px 0;
  white-space: normal;
}

.catalog__item:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.button-link {
  padding: 10px 20px;
  color: #000;
  font-size: 0.7em;
  border: #fe3501 1px solid;
  cursor: pointer;
}

.button-link:hover {
  color: white;
  background-color: #fe3501;
}

.bestsellers {
  margin-top: 4em;
}

.bestsellers__main {
  margin-top: 2em;
}

.bs__item a {
  display: inline-block;
}

.bs__item img {
  transition: all .1s;
  max-height: 275px;
  max-width: 275px;
}

.bs__item a:hover img {
  opacity: 0;
}

.bs__item a:hover {
  background-image: url('/img/2-Luno-cold-beige_ug.webp');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bs__item {
  max-width: 275px;
  font-size: 0.7em;
  white-space: normal;
  flex-direction: column;
}

.item-name {
  padding: 11px 0;
}

.price {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 0;
}

.usefull-links {
  font-size: 0.7em;
  margin-top: 6em;
}

.usefull-links h2 {
  padding-left: 20px;
  font-size: 2em;
  font-weight: 600;
  white-space: normal;
  line-height: 1.5em;
}

.block--left {
  max-width: 49%;
  height: 285px;
}

.block--right {
  max-width: 49%;
  height: 285px;
}

.block-text {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  max-width: 285px;
  height: 100%;
  background-color: #f5f5f5;
  padding: 25px 15px 20px;
}

.block-text-link {
  margin-top: 2em;
  padding: 15px 20px ;
  background-color: inherit;
  color: #fe3501;
  font-weight: 700;
  cursor: pointer;
}

.block-text-link:hover {
  background-color: #e9e9e9;
  border-radius: 50px;
}

.btn-common {
  text-align: start;
  border: none;
}

.delivery{
  margin-top: 4em;
  display: flex;
}

.delivery-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delivery-info{
  padding: 50px 40px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delivery-text h2{
  font-size: 1.4em;
  font-weight: 600;
  white-space: normal;
  line-height: 1.5em;
}

.delivery-text p{
  font-size: 0.7em;
  margin-top: 2em;
}

.delivery-info a{
  padding: 10px 15px;
  text-align: center;
  max-width: 127px;
  font-size: 0.7em;
  font-weight: 600;
  background-color: #fe3501;
  border-radius: 50px;
  color: white;
}

.delivery-info a:hover{
  background-color: #fe3401b4;
}

.inner-header{
  border: 1px solid black;
  border-radius: 30px;
  
  
  display: flex;
  justify-content: space-between;
}

.slider-button{
  padding: 10px 40px;
  font-size: 0.7em;
  font-weight: 600;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: inherit;
}

.slider-button:focus{
  background-color: #fe3501;
  border: none;
  color: #f5f5f5;
}

.slider-button:focus:first-child{
  border-radius: 30px 0 0 30px;
}

.slider-button:focus:last-child{
  border-radius: 0 30px 30px 0;
}

.slider-content-visible{
  display: flex !important;
  width: 1160px;
  flex-basis: 1160px;
}

.slider-content{
  width: 1160px;
}

.slider-content-1{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  max-height: 300px;
}

.content-1{
  display: flex;
  flex-direction: column;
  max-width: 45%;
  justify-content: space-between;
  margin-right: 7em;
}

.content-2{
  display: flex;
  flex-direction: column;
  max-width: 45%;
  justify-content: space-between;
}

.content-1 p, .content-2 p{
  margin-bottom: 1.7em;
}

.slider-content-none > div{
  display: none;
}

.slider h2{
  margin-top: 3em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.8em;
}

.slider-list{
  padding: 2em 0;
}

.slider-list li{
  list-style: none;
  font-size: 0.7em;
  padding: 18px 0;
  border-bottom: 1px solid #eeeeee;
  width: 1160px;
}

.slider-list li:first-child{
  
  border-top: 1px solid #eeeeee;
}

.advantages-block{
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 5em;
  border-top: 1px solid #eeeeee;
  padding: 4em 0;
  display: flex;
  justify-content: space-between;
}

.adv-item{
  width: 17%;
}

.adv-item p{
  margin-top: 0.4em;
}

footer{
  font-size: 0.8em;
  background-color: #f5f5f5;
  padding: 4em 0 0;
}

.footer-block-links{
  display: flex;
  justify-content: space-between;
}

footer li{
  list-style: none;
  line-height: 3em;
  font-size: 0.7em;
}

.column{
  max-width: 19%;
}

.column li:first-of-type{
  margin-top: 1em;
}

.column span{
  font-weight: 600;
}

.socials__footer{
  margin: 2em 0;
}

.socials__footer img{
  width: 25px;
  margin-right: 1em;
}

.payment p{
  margin-bottom: 1em;
  color: #898989;
}

.footer-column--4 p:first-of-type{
  margin-bottom: 1em;
}

.footer-column--4 .tel{
  margin: 1em 0;
  font-size: 1.6em;
  font-weight: 600;
}

.footer-column--4 .small{
  color: #898989;
  font-size: 0.7em;
  margin: 1em 0;
}

.footer-column--4 .mail{
  margin-top: 1em;
  font-size: 0.6em;
}

.footer-column--4 button{
  margin-top: 1em;
  border: none;
  background-color: inherit;
  font-size: 0.7em;
}

.links-block__small img{
  margin-top: 1em;
  width: 20px;
}

.footer-column--4 .map{
  margin: 1em 0;
  color: #898989;
  font-size: 0.7em;
}

.map-link{
  font-size: 0.7em;
}

.links-row__footer{
  margin-top: 3em;
  padding: 2em 0;
  border-top: 1px solid #898989;
}

.links-row__footer a{
  font-size: 0.7em;
  margin-right: 1em;
}

.links-row__footer a:not(:first-child){
  color: #898989;
}

.link-item a{
  color: #039BE5;
}

.link-item a img{
  margin-right: 0.5em;
}